
body {
	background: #032b08;
}

#container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.right {
	margin-left: 790px;
}

.paddle {
	border: 2px solid black;
	position: absolute;
	width: 10px;
	height: 100px;
	background: white;
	margin-top: 200px;
}

.ball {
	position: absolute;
	border-radius: 50%;
	margin-left: -100px;
	width: 20px;
	height: 20px;
	background: #ff3333;
	border: 1px solid black;
}

#play-area {
	width: 800px;
	height: 500px;
	border: 3px solid black;
	background: #0b6a18;
}

.score {
	position: absolute;
	border: 3px solid black;
	width: 100px;
	height: 70px;
	text-align: center;
	color: white;
	font-size: 50px;
	margin-top: 580px;
	background: #0b6a18;
}

#score-right {
	margin-left: 700px;
}

#score-left {
	margin-left: -700px;
}

#serve-help {
	position: absolute;
	visibility: visible;
	color: white;
	font-family: courier;
	margin-top: 200px;
	font-size: 30px;
	opacity: 0.6;
	font-weight: bold;
}

.laser {
	position: absolute;
	background: orange;
	width: 30px;
	height: 10px;
	border-radius: 5px;
	visibility: hidden;
}

.energy {
	width: 10px;
	height: 71px;
	position: absolute;
	margin-top: 581px;
}

#energy-back-right {
	margin-left: 690px;
	background: yellow;
	border: 2px solid red;
	margin-left: 580px;
}

#energy-back-left {
	margin-left: -585px;
	background: yellow;
	border: 2px solid red;
}

#energy-front-left {
	position: absolute;
	background: black;
	height: 71px;
	margin-top: 0px;
}

#energy-front-right {
	position: absolute;
	background: black;
	height: 71px;
	margin-top: 0px;
	margin-left: 0px;
}